[run]
source =
    ../src/vpe
omit =
    */minirpyc/*
    ../src/vpe/rpy_support.py
    ../src/vpe/rpyc_support.py
    ../src/vpe/install.py

[paths]
cygwin_match =
    ../vpe
    /cygdrive/z/.vim/pack/vim-vpe/vpe
    \\VBOXSVR\PAUL\.vim\pack\vim-vpe\vpe

[report]
exclude_lines =
    pragma: defensive$
    pragma: no cover$
    pragma: no cover windows$
    pragma: unreachable$
    pragma: temp-nocover$

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

exclude_also =
    if debug:
    if TYPE_CHECKING:
    def _load_new_plugins
    def _to_std_num\(name: str\)
    class HighlightSpec:

omit =
    */minirpyc/*
